:root {
    --ratio: 15vw;
    --font1-sizeVW: 50%;
    --font1-sizeVH: calc(var(--ratio) * 50%);
}
.is-blinking::after {
    content: "|";
    height: inherit;
    padding: 0px; 
    margin: 0px;
    width: 0.5px;
    text-align: center;
    background: black;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}
.marquee {
  width: 100%;
  display: block;
  margin: inherit;
  position: relative;
  overflow: hidden;
  text-align: right !important;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.marquee:hover {
  -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
  
  .sum-calc {
  font-size: 20px;
  }
  
  .sum-calc .result {
  width: calc(90% - 10px);
  color: black;
  margin-bottom: 10px;
  border-radius: 10px; 
  height: 40px;
  background: white;
  font-size: 30px;
  margin-left: 5px;
  padding: 10px 5px 10px 5px; 
  border: #fafafa 3px solid;
  text-align: right; 
  font-family: 'Rubik';
  } 
  
  .sum-calc .num {
  width: calc(25% - 12px);
  aspect-ratio: 1/1;
  background: #fafafa;
  font-size: var(--font1-sizeVH); 
  border-radius: 7px;
  border: none; 
  margin-left: 5px;
  margin-right: 3px;
  margin-bottom: 10px;
  font-family: 'Poppins';
  }
  
  .sum-calc .equal {
  width: 90%;
  margin-left: 5px;
  height: 45px;
  color: white;
  mix-blend-mode: difference; 
  background: teal; 
  text-align: center; 
  font-family: 'Rubik';
  border-radius: 10px; 
  font-size: 30px;
  border: none;  
  }
  
  .smart {
background-blend-mode: difference;
mix-blend-mode: difference;
background-color: #fafafa;
color: black;
border: none; 
border-radius: 7px; 
padding: 7px 15px 7px 15px;
box-shadow: 5px 3px 7px rgba(0,0,128,0.3); 
font-family: 'Poppins', serif;
}
.shadow {
box-shadow: 5px 3px 7px rgba(0,0,128,0.3); 
    }
    
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { 
 box-shadow: 0 0 0 0 #eba876;
  }
}

   .slide-fill {
background-blend-mode: difference;
mix-blend-mode: difference;
color: black;
background: white;
border: grey solid 0.5px; 
border-radius: 3px; 
padding: 7px 20px 7px 20px;
font-family: 'Poppins', serif;
box-shadow: inset 0 0 0 0 rgba(235,168,118,0.4);
-webkit-transition: ease-out 0.4s;
-moz-transition: ease-out 0.4s;
transition: ease-out 0.4s;
}

.slide-fill:hover {
box-shadow: inset 400px 0 0 0 rgba(235,168,118,0.4);
    
}  
 
.fill-line {
  background-blend-mode: difference;
  mix-blend-mode: difference;
  background: white;
  color: black;
  border:none;
  position:relative;
  padding: 7px 20px 7px 20px;
  border-radius: 3px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.fill-line:hover{
  background:#fff;
}
.fill-line:before,.fill-line:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #eba876;
  transition:400ms ease all;
}
.fill-line:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.fill-line:hover:before,.fill-line:hover:after{
  width:100%;
  transition:800ms ease all;
}
.quote {
 font-family: 'Charm';
 font-size: 17px;
 font-weight: light;
 user-select: none;
 width: calc(100% - 60px);
 max-width: 450px;
 background-blend-mode: difference;
 position: relative;
 background: url('https://sumjs.vercel.app/Sum/files/quote.png') no-repeat;
 overflow-y: scroll;
 max-height:  107px;
 min-height: 107px; 
 margin: 0px;
 align-items: center;
 background-size: cover;
 padding: 30px 30px 10px 30px;
 
}    

.quote:before {
    content: "“";
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    top: 0;
}   
.quote:after {
  content: "”";
  font-weight: 600;
  font-size: 40px;
  position: absolute;
} 



.popbody {
display: none;
position: absolute;
bottom: 0;
overflow: hidden;
height: 100vh; 
width: 100%;
overflow: hidden;
z-index: 999;
background: rgba(0,0,0,0.3);
}

.s-pop {
position: absolute;
top: 50%;
left: 50%;
font-size: 17px; 
font-family: 'Poppins';
line-height: 30px; 
transform: translate(-50%, -50%);
width: calc(93% - 40px); 
padding: 15px 20px 65px 20px;
min-height: 30vh;
background: white;
color: black;
border-radius: 15px; 
box-shadow: 5px 3px 7px rgba(0,0,128,0.3); 
    
}

.poptext {
    max-height: 60vh;
overflow-y: scroll;
width: 100%;
}


#popdel {
   position: absolute !important;
   width: calc(90% - 30px) !important;
   bottom: 0;
   font-weight: 600;
   font-size: 16px;
   font-family: Rubik;
   height: 40px !important;
   margin: 0 0 15px 4% !important;
   display: block !important;
} 
  
  
